In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('Purchased_Dataset.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [14]:
X = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [15]:
X.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [16]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state =5)

knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(X_train,y_train)
y_pred = knnclassifier.predict(X_test)

metrics.accuracy_score(y_test,y_pred)

0.77

In [19]:
X_train.head()

     Age  EstimatedSalary
24    46            23000
33    28            44000
396   51            23000
273   39           106000
246   35            50000

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state =3)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(X_train,y_train)
y_pred = knnclassifier.predict(X_test)
metrics.accuracy_score(y_test,y_pred)

0.81

In [28]:
X_train.head()

     Age  EstimatedSalary
75    34           112000
14    18            82000
47    27            54000
46    25            79000
379   58            23000

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state =7)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(X_train,y_train)
y_pred = knnclassifier.predict(X_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [30]:
X_train.head()

     Age  EstimatedSalary
382   44           139000
84    30            62000
115   40            57000
328   36           118000
99    28            37000

Cross validation & Model selection

In [31]:
from sklearn.model_selection import cross_val_score

knnclassifier = KNeighborsClassifier(n_neighbors=4)

print(cross_val_score(knnclassifier, x, y, cv=10, scoring ='accuracy'))

[0.73170732 0.90243902 0.85365854 0.925      0.775      0.675
 0.8        0.79487179 0.74358974 0.69230769]

In [34]:
print(cross_val_score(knnclassifier, x, y, cv=10, scoring ='accuracy').mean())

0.7893574108818011

In [38]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

print (cross_val_score(logreg, x, y, cv=10, scoring = 'accuracy').mean())

0.6499937460913072

C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)